@page "{neighbourhood?}"
@using Data
@using Extensions
@model IndexModel

@{
    ViewBag.Title = "Amsterdam";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-7">
        <div id='map' style='width: 100%; height: 800px;'></div>
    </div>
    <div class="col-md-5 pre-scrollable">
        <h2>Amsterdam</h2>
        <div class="row">
            <form id="filter">
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="neighbourhood">Neighbourhood</label>
                        <select name="neighbourhood" id="neighbourhood" class="form-control" asp-items="Model.Neighbourhoods" onchange="CityPage.updateMap();">
                            <option value="">No preference</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="review">Review</label>
                        <select name="hasReview" id="review" class="form-control" onchange="CityPage.updateMap();">
                            <option value="">No preference</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="lowest-price">Lowest Price</label>
                        <div class="input-group">
                            <input type="number" name="minPrice" id="lowest-price" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" onclick="CityPage.updateMap();">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="highest-price">Highest Price</label>
                        <div class="input-group">
                            <input type="number" name="maxPrice" id="highest-price" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" onclick="CityPage.updateMap();">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="row">

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/city.js"></script>
    <script>
        CityPage.setup();
    </script>
}