@page "{neighbourhood?}"
@model IndexModel

@{
    ViewBag.Title = "Amsterdam";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-7">
        <div id='map' style='width: 100%; height: 800px;'></div>
    </div>
    <div class="col-md-5">
        <h2>Amsterdam</h2>
        <div class="row">
            <form id="filter">
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="neighbourhood">Neighbourhood</label>
                        <select name="neighbourhood" id="neighbourhood" class="form-control" asp-items="Model.Neighbourhoods" onchange="$('#filter').submit();">
                            <option value="">No preference</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="review">Review</label>
                        <select name="hasReview" id="review" class="form-control" onchange="$('#filter').submit();">
                            <option value="">No preference</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="lowest-price">Lowest Price</label>
                        <div class="input-group">
                            <input type="number" name="minPrice" id="lowest-price" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" onclick="$('#filter').submit();">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <label for="highest-price">Highest Price</label>
                        <div class="input-group">
                            <input type="number" name="maxPrice" id="highest-price" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" onclick="$('#filter').submit();">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row pre-scrollable">
            <div class="col-md-12"> 
                <h2>Price history (for selected or all)</h2>
                <canvas id="priceChart" width="100%" height="60"></canvas>
            </div>
            <div class="col-md-12"> 
                <h2>Room type</h2>
                <canvas id="roomTypeChart" width="100%" height="60"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/form.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/chart.js"></script>
    <script>
        MapLogic.setup();
        ChartLogic.setup();
        
        FormLogic.addSubmitListener(MapLogic.updateMap);
        FormLogic.addSubmitListener(ChartLogic.setup);
    </script>
}