@page "{neighbourhood?}"
@using Data
@using Extensions
@model IndexModel

@{
    ViewBag.Title = "Amsterdam";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-7">
        <div id='map' style='width: 100%; height: 800px;'></div>
    </div>
    <div class="col-md-5 pre-scrollable">
        <h2>Amsterdam</h2>
        <div class="row">
            <div class="col-xs-6">
                <form method="post">
                    <div class="form-group">
                        <label for="neighbourhoods">Filter by:</label>
                        <select class="form-control"
                                id="neighbourhoods" 
                                asp-for="Neighbourhood.Name"
                                asp-items="Model.Neighbourhoods"
                                onchange="this.form.submit()"></select>
                    </div>
                </form>
            </div>
            <div class="col-xs-6">
                <h1>@Model.ListingAmount</h1>
                <small> out of <b>100.000</b> listings (80%)</small>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/city.js"></script>
    <script>
        CityPage.setup("@Model.Neighbourhood?.Name");
    </script>
}