@page "{city}/{neighbourhood?}"
@using Extensions
@model IndexModel

@{
    ViewBag.Title = "Amsterdam";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-7">
        <div id='map' style='width: 100%; height: 800px;'></div>
    </div>
    <div class="col-md-5">
        <h2>@ViewContext.RouteData.Values["city"].ToString().FirstLetterToUpperCase()</h2>
        <div class="row">
            <div class="col-xs-6">
                <form method="post">
                    <div class="form-group">
                        <label for="neighbourhoods">Filter by:</label>
                        <select class="form-control"
                                id="neighbourhoods" 
                                asp-for="Neighbourhood.Name"
                                asp-items="Model.Neighbourhoods"
                                onchange="this.form.submit()"></select>
                    </div>
                </form>
            </div>
            <div class="col-xs-6">
                <h1>@Model.ListingAmount</h1>
            </div>
        </div>
    </div>
</div>



<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9lbGNocmlzdCIsImEiOiJjamg5MHpud3UwMDN2MzBtcTljeHFsNHRsIn0.yN9COTx4KsT3AiwitMP_2g';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/joelchrist/cjh91253t7h872rs4afm2l9jl',
        
    });
</script>
